body{
  margin: 0;
  background-color: #ef1f1f;/*#E6E8E6;*/
  font-family: 'system-ui', sans-serif;
}

* {
	box-sizing: border-box;
}

*,*::before,*::after {
  box-sizing: inherit;
}

.main__container{
  width: 100%;
  height: 100vh;
  /* background-color: #ef1f1f; */
}

.main__container.red{
  background-color: #ef1f1f;
}

.main__container.gray{
  background-color: #E6E8E6;
}
