body{
  margin: 0;
  background-color: #E6E8E6;
  font-family: 'system-ui', sans-serif;
}

* {
	box-sizing: border-box;
}

*,*::before,*::after {
  box-sizing: inherit;
}

.main__container{
  width: 100%;
}