.list__user__feedback {
	height: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}

.list__user__feedback h2,
.list__user__feedback p {
	font-size: 24px;
	margin: 5px 0px;
	color: #29335C;
	font-weight: bold;
	text-align: center;
}
